<footer class="footer section" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-sm-start text-center mb-2 mb-sm-0">
                <p class="mb-1">&copy; Copyright Annie Hazarika. All Rights Reserved</p>
            </div>
            <div class="col-sm-6 social">
                <a
                    href="https://www.instagram.com/annie_hazarika"
                    target="_blank"
                    aria-label="Annie Hazarika Instagram Profile"
                >
                    <span class="bi bi-instagram"></span>
                </a>
                <a 
                    href="https://www.linkedin.com/in/anniehazarika"
                    target="_blank"
                    aria-label="Annie Hazarika Linkedin Profile"
                >
                    <span class="bi bi-linkedin"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
