{% import 'macros/macros.html.twig' as macros %}

<div class="menu"> {# @TODO DEFINITELY CHANGE THAT NAME #}
    {{ macros.nav_loop(pages) }}
    <a href="https://www.instagram.com/annie_hazarika" target="_blank">
        Ig
    </a>
    <a href="https://www.linkedin.com/in/anniehazarika" target="_blank">
        Li
    </a>
</ul>
