{% set image = page.media.images|first %}

{% set column = page.header.columnWidth ? page.header.columnWidth : 'col-md-3' %}

<div class="item web col-sm-6 {{ column }} mb-4">
    <a href="{{ page.url }}" class="item-wrap fancybox">
        <div class="work-info">
            <h3>{{ page.title }}</h3>
        </div>
        {% if (image) %}
            <img class="img-fluid" src="{{ image.cropResize(640, 3000).url }}"> {# We keep the original height, but maximum width is 640px #}
        {% endif %}
    </a>
</div>