{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="section site-portfolio">
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
            {% for child in page.collection %}
                {% include 'partials/work-list-item.html.twig' with {'portfolio': page, 'page': child, 'truncate': true} %}
            {% endfor %}
        </div>
    </section>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style="font-size: 2rem;">
        <i class="bi bi-arrow-up-short"></i>
    </a>
{% endblock %}