@import "_bootstrap_icons";
@import "_breakpoints";
@import "_variables";

@font-face {
    font-family: BreeSerif-Regular;
    src: url(../fonts/BreeSerif-Regular.ttf);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Inconsolata", monospace;
    color: #0d1e2d;
}

a {
    color: #777;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}

.section {
    padding: 1.5rem 0;
}

img,
video {
    max-width: 100%;

    &.img-center {
        margin: auto;
        display: block;
    }
}

iframe.yt-player {
    width: 992px;
    height: 558px;
    max-width: 100%;
    margin: auto;

    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}

header {
    .intro {
        font-family: BreeSerif-Regular, Incosolata;

        a {
            color: #000;
        }

        .logos {
            position: relative;

            p {
                font-size: 1.055rem;
            }

            .logo {
                width: 18rem;
                animation: opacityZero 0s 4s forwards;

                &.delay {
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    animation: opacityOne 0s 4s forwards;

                    @keyframes opacityOne {
                        to {
                            opacity: 1;
                        }
                    }
                    @keyframes opacityZero {
                        to {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        text-align: center;
    }
}

h1 {
    font-family: BreeSerif-Regular, Incosolata;
}

.menu a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    &:first-child {
        padding-left: 0;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    &:hover,
    &.active {
        &:first-child::before {
            left: 0;
        }

        &:before {
            content: "";
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 0;
            height: 1px;
            background-color: #000;
        }
    }
}

.item {
    border: none;
    margin-bottom: 30px;

    .item-wrap {
        display: block;
        position: relative;
        overflow: hidden;

        &:after {
            z-index: 2;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
            visibility: hidden;
            opacity: 0;
            transition: 0.3s all ease-in-out;
        }

        img {
            transition: 0.3s transform ease;
            transform: scale(1);
        }

        > .work-info {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            z-index: 3;
            transform: translateY(-50%);
            color: #fff;
            opacity: 0;
            visibility: hidden;
            margin-top: 20px;
            transition: 0.3s all ease;

            h3 {
                font-size: 20px;
                margin-bottom: 0;
            }

            span {
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
            }
        }

        &:hover {
            text-decoration: none;

            img {
                transform: scale(1.05);
            }

            &:after {
                opacity: 1;
                visibility: visible;
            }

            .work-info {
                margin-top: 0px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.h3 {
    font-size: 20px;
}

.h4 {
    font-size: 16px;
}

.heading {
    font-size: 28px;
}

.sticky-content {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* required */
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.portfolio-item {
    .image-container {
        margin-left: auto;
        margin-right: auto;
    }
}

.prev-next {
    position: relative;
    height: 2rem;

    .previous {
        left: 0;
        position: absolute;
    }

    .next {
        right: 0;
        position: absolute;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
    font-size: 1.35rem;

    @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 1.1rem;
    }

    .row {
        align-items: center;
    }
}

.clients {
    h3 {
        font-size: 35px;
        font-weight: bold;
    }

    ul {
        font-size: 25px;
        font-weight: bold;
        line-height: 55px;
    }
}

/*--------------------------------------------------------------
# Content Creation
--------------------------------------------------------------*/

.content-creation {
    video {
        border-radius: 5px;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    .row {
        align-items: center;
    }

    .social {
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-down(xs) {
            justify-content: center;
        }

        a {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #f8f9fa;
            position: relative;
            text-align: center;
            color: #0d1e2d;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #f8f9fa;
                background: #0d1e2d;
                transition: 0.3s all ease-in-out;
            }

            span {
                display: inline-block;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }
    }
}
