@font-face {
  font-family: BreeSerif-Regular;
  src: url(../fonts/BreeSerif-Regular.ttf);
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

a {
  color: #777;
  text-decoration: none;
}
a:hover {
  color: #000;
}

.section {
  padding: 1.5rem 0;
}

img {
  max-width: 100%;
}
img.img-center {
  margin: auto;
  display: block;
}

iframe.yt-player {
  width: 992px;
  height: 558px;
  max-width: 100%;
  margin: auto;
}
@media (max-width: 767.98px) {
  iframe.yt-player {
    height: 300px;
  }
}

header .intro {
  font-family: BreeSerif-Regular, Incosolata;
}
header .intro a {
  color: #000;
}
header .intro h1 {
  font-size: 3.375rem;
}
header .intro p {
  font-size: 1.1621rem;
}
@media (max-width: 991.98px) {
  header {
    text-align: center;
  }
}

h1 {
  font-family: BreeSerif-Regular, Incosolata;
}

.menu a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.menu a:first-child {
  padding-left: 0;
}
.menu a:hover, .menu a:focus, .menu a:active {
  text-decoration: none;
}
.menu a:hover:first-child::before, .menu a.active:first-child::before {
  left: 0;
}
.menu a:hover:before, .menu a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

/* @TODO SCSS THIS */
.item {
  border: none;
  margin-bottom: 30px;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.item .item-wrap > .work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap > .work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.item .item-wrap > .work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.heading {
  font-size: 28px;
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.portfolio-item .image-container {
  margin-left: auto;
  margin-right: auto;
}

.prev-next {
  position: relative;
  height: 2rem;
}
.prev-next .previous {
  left: 0;
  position: absolute;
}
.prev-next .next {
  right: 0;
  position: absolute;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  font-size: 1.35rem;
}
@media (max-width: 991.98px) {
  .about {
    text-align: center;
    font-size: 1.1rem;
  }
}
.about .row {
  align-items: center;
}

.clients h3 {
  font-size: 35px;
  font-weight: bold;
}
.clients ul {
  font-size: 25px;
  font-weight: bold;
  line-height: 55px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer .row {
  align-items: center;
}
.footer .social {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 575.98px) {
  .footer .social {
    justify-content: center;
  }
}
.footer .social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  color: #0d1e2d;
  margin-right: 1rem;
}
.footer .social a:last-child {
  margin-right: 0;
}
.footer .social a:hover {
  color: #f8f9fa;
  background: #0d1e2d;
  transition: 0.3s all ease-in-out;
}
.footer .social a span {
  display: inline-block;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
